.task-div {
  border: 1px solid black;
  padding: 5px;
  width: 20rem;
  border-radius: 5px;
}

.add-task-btn {
  margin-left: 10px;
  padding: 5px;
  width: 10rem;
}

.input-task {
  padding: 5px;
  width: 30rem;
}

.parent-input-div {
  margin-bottom: 1rem;
}

.checkbox-style {
  padding-right: 10px;
  margin: 0 10px;
}

.disabled {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
}

.task-btns {
  margin-left: 1rem;
}
